__pycache__
*.pyc
.git
.env
README.md
*service-account*key.json
*adminsdk*.json
firebase-service-account-key.json
*firebase*adminsdk*.json
*creds_encrypted*.bin
*.bin
.pytest_cache
.github
docs
dev_helpers
tests
*.md
.gitignore 